/linux-*/
/modules-*/
/source_files/**/.config*
/source_files/**/.kernel_config_md5
/source_files/**/Kconfig.kernel
/source_files/**/*.o
/source_files/**/*.o.d
/source_files/**/*.cmd
/source_files/**/modules*
/source_files/**/*.ko
/source_files/**/*.mod*
/source_files/**/Module.symvers
/source_files/**/kconf/conf
/source_files/**/kconf/zconf.*.c
/source_files/**/backport-include/backport/auto.conf
/source_files/**/backport-include/backport/autoconf.h
